RAG pipeline (1).json
{
  "name": "RAG pipeline",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "107a889d-56bf-4ae2-8fcc-d4be3b0de597",
      "name": "When chat message received",
      "webhookId": "b6725bfa-b148-4cfb-94fe-c6eee8abbd50"
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "congenitalHD",
          "mode": "list",
          "cachedResultName": "congenitalHD"
        },
        "prompt": "={{ $json.chatInput }}",
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "6d6473c8-e986-486b-9a39-aa965c172cd8",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "tt4dbcBjnlRQeqZd",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        208
      ],
      "id": "da39cfe0-ee21-4de2-b37b-8fa6cce2edcd",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PqMqltWnabqvpB8d",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "791be19d-e652-49e0-a562-81ef0d8ac294",
              "name": "context",
              "value": "={{ $json.document.pageContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        0
      ],
      "id": "0802f041-e756-40d3-9c7d-9261a713a9b6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a congenital heart disease specialist assistant. Use the following retrieved context to answer the user's question accurately. If the answer isn't in the context, say so.  Context: {{ $json.context.join(\"\\n\\n---\\n\\n\") }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        976,
        16
      ],
      "id": "ff88e1bc-19b9-4c0a-ad96-ebb0d3b3f612",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1072,
        288
      ],
      "id": "1602b9e5-2042-41a2-9fd9-1a8a6a73efd7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PqMqltWnabqvpB8d",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "context"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        11.200000000000003
      ],
      "id": "f9bf5590-ccc0-434c-9f49-bcc288dd3079",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "60095955-ad1d-40f5-aad1-923d5503b015",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8447ca0ede621fe6401b5938e501470a0745131eb2b07ff17a7dbc7d7a2028d0"
  },
  "nodeGroups": [],
  "id": "0mrGGjcmPyflmXpf",
  "tags": []
}